{% extends 'base.html' %}

{% block content %}
<div class="method">
    <h1>Método de Bisección</h1>
    <form id="methodForm" method="post" action="{% url 'biseccion' %}">
        {% csrf_token %}
        <label for="funcion">Función:</label>
        <input type="text" id="funcion" name="funcion" required><br>

        <label for="xi">Xi:</label>
        <input type="text" id="xi" name="xi"  required><br>

        <label for="xs">Xs:</label>
        <input type="text" id="xs" name="xs"  required><br>

        <label for="tol">Tolerancia:</label>
        <input type="text" id="tol" name="tol"  required><br>

        <label for="iter">Iteraciones:</label>
        <input type="text" id="iter" name="iter" required><br>

        <button type="submit">Enviar</button>

    </form>

    {% if view_data.messaje %}
    <form id="methodForm" method="post" action="{% url 'biseccion' %}">
        {% csrf_token %}
        <div class="method">
            <!-- Resto del formulario -->
            <input type="hidden" name="messaje" value="{{ view_data.messaje }}">
            <input type="hidden" name="answer" value="{{ view_data.answer_raw }}">
        
            <button type="submit" name="download">Descargar TXT</button>
        </div>

    </form>
    <h2>{{ view_data.messaje }}</h2>

    {{ view_data.answer|safe }}
    {% endif %}
</div>

<script>
function exportToTxt() {
    // Lógica para exportar los resultados como TXT
    alert('Función de exportación como TXT no implementada.');
}

function showResults() {
    // Lógica para mostrar los resultados en pantalla
    alert('Resultados mostrados en pantalla.');
}
</script>
{% endblock content %}