body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

main {
    padding: 20px;
}

.dropdown:hover .navbar-logo {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen en un 20% */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #2d3635;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-menu a:hover {
    background-color: #555;
}

.dropdown-menu {
    position: static;
    border: 1px solid #fff; /* Agrega un borde blanco */
}


/* Muestra el menú desplegable cuando se pasa el mouse sobre .dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

.home {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
}

.home h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.home img {
    max-width: 100%;
    height: auto;
}

.large-image {
    width: 35%;
    height: auto;
}

.navbar-logo {
    width: 40px; 
    height: auto;
}

/* Added media query for responsive design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
}


.method {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.method h1 {
    margin-bottom: 20px;
}

.method form label {
    display: block;
    margin-bottom: 5px;
}

.method form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.method table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.method table th, .method table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.method table th {
    background-color: #f2f2f2;
    text-align: left;
}


