<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Metodos Númericos{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
            <li>
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="navbar-logo">
            </li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Capitulo 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'biseccion' %}">Bisección</a></li>
                        <li><a href="{% url 'newton' %}">Newton</a></li>
                        <li><a href="{% url 'punto_fijo' %}">Punto Fijo</a></li>
                        <li><a href="{% url 'raices_multiples' %}">Raíces Múltiples</a></li>
                        <li><a href="{% url 'regla_falsa' %}">Regla Falsa</a></li>
                        <li><a href="{% url 'secante' %}">Secante</a></li>
                        <!-- Add more reductions here -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Capitulo 2 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'gauss_seidel' %}"> Gauss - Seidel </a></li>
                        <li><a href="{% url 'jacobi' %}">Jacobi</a></li>
                        <li><a href="{% url 'sor' %}">SOR</a></li>
                        <!-- Add more reductions here -->
                    </ul>
                </li>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Capitulo 3<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'lagrange' %}">Lagrange</a></li>
                    <li><a href="{% url 'newton_interpolante' %}">Newton Interpolante</a></li>
                    <li><a href="{% url 'vandermonde' %}">Vandermonde</a></li>
                    <li><a href="{% url 'spline_lineal' %}">Spline Lineal</a></li>
                    <li><a href="{% url 'spline_cubico' %}">Spline Cúbico</a></li>
                    
                    <!-- Add more reductions here -->
                </ul>
            </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p>Katherin Allin | David Blandon | Martín Espitia | 2024</p>
    </footer>
</body>
</html>